.ourclients {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.ourclients-list {
    display: flex;
    justify-content: center;
}
.ourclients-list__item:not(:last-child) {
    margin-right: 30px;
}
.ourclients-list__box {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @extend %align;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--secondary-color);
    }
}
.ourclients-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .ourclients-list__box:hover &,
    .ourclients-list__box:focus & {
        fill: var(--secondary-color);
    }
}